$orange:#ff9f00;
$green:#00ff00;
$blue-1:#00ffff;
$blue-2:#03ffff;
$blue-dark:#00bbb2;
$coral:#ff8872;
$yellow-1:#ffff25;
$yellow-2:#faf340;
$yellow-3:#ffdd32;
$green-blue :#34ea90;

$card-bgc:rgba(0,82,133,0.64);
$card-header-bgc:#0b1850;
$card-border:#64abed;